html {
  background: #fe8c00;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #f83600, #fe8c00);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #f83600, #fe8c00); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

body {
  display: flex; 
  min-height: 100vh; 
  flex-direction: column; 
}

main-content { 
  flex: 1 0 auto;
 }


.landing-grid {
  text-align: center;
  width: 100%;
  height: auto;
}

.mdl-layout-title {
  font-weight: bold;
  text-shadow: 1px 1px 2px rgb(190, 41, 3), 0 0 25px orange, 0 0 5px rgb(255, 153, 0);
}

.mdl-layout__header .mdl-layout__drawer-button {
  color: rgb(223, 219, 219);
  text-shadow: 1px 1px 2px rgb(190, 41, 3), 0 0 25px orange, 0 0 5px rgb(255, 153, 0);
}

.mdl-layout__header .mdl-layout__drawer-button:hover {
  color: white;
}

.profile-picture {
  height: 250px;
  padding-top: 5em;
}

.banner-text {
  background-color: black;
  opacity: .7;
  width: 75%;
  margin: auto;
  border-radius: 20px;
}

.banner-text h1 {
  font-size: 4.8em;
  font-weight: bold;
  color: white;
  padding-left: 4px;
  padding-right: 4px;
  padding-top: .2em;
}

.banner-text h2 {
  font-size: 2.4em;
  font-weight: bold;
  color: white;
  margin-top: -.6em;
}

.banner-text hr {
  border-top: 5px solid white;
  width: 50%;
  margin: auto;
  margin-top: -1%;
  padding-bottom: 3%;
}

.banner-text p {
  color: white;
  font-size: 20px;
  padding-bottom: 2em;
  width: 80%;
  margin: auto;
}

.social-links {
  display: flex;
  justify-content: space-between;
  width: 50%;
  margin: auto;
  padding-top: 3%;
  padding-bottom: 12px;
}

.social-links i {
  color: white;
  font-size: 6em;
  padding: 8px;
  padding-bottom: 12px;
}

.social-links i:hover {
  text-shadow: 2px 2px 4px rgb(231, 52, 7), 0 0 30px orange, 0 0 10px rgb(255, 153, 0);
}

#content-desktop {
  display: block;
  font-size: 1.3em;
  font-weight: bold;
  color: rgb(223, 219, 219);
  text-shadow: 1px 1px 2px rgb(190, 41, 3), 0 0 25px orange, 0 0 5px rgb(255, 153, 0);
}

#content-desktop:hover {
  color: white;
  text-shadow: 1px 1px 2px rgb(173, 36, 1), 0 0 25px rgb(230, 150, 3), 0 0 5px rgb(226, 137, 2);
}

@media screen and (max-width: 768px) {

#content-desktop {display: none;}

}

.projects-grid {
  display: flex;
  flex-wrap: wrap;
  flex: content;
flex-direction: row;
justify-content: space-evenly;
}

.the-project-title p {
  font-weight: bold;
  font-size: 22px;
  color: white;
  text-shadow: 2px 2px 4px black, 0 0 25px rgb(83, 83, 83), 0 0 5px rgb(53, 53, 53);
  text-align: center;
  padding-bottom: 8px;
}

#imagebox {
  position: fixed;
  z-index: 1000;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: black;
  opacity: .8;
  display: none;
}

#imagebox.active {
  display: flex;
  justify-content: center;
  align-items: center;
}

.contact-body {
  margin: auto;
  width: 100%;
  height: auto;
  justify-content: center;
  padding-top: 2em;
  padding-bottom: 2em;
  }

.contact-grid {
  background-color: black;
  color: white;
  opacity: .8;
  text-align: center;
  justify-content: center;
  width: 86%;
  height: auto;
  margin-bottom: 20px;
  border-radius: 40px;
}

.contact-grid h2 {
  font-family: 'Bowlby One SC', cursive;
  font-size: 4.6vw;
}

.contact-grid p {
  font-family: 'Open Sans Condensed', sans-serif;
  font-weight: 400;
  font-size: 28px;
  line-height: 30px;
  color: white;
}

.contact-grid a {
  color: orange;
}

.contact-grid a:hover {
  text-shadow: 2px 2px 4px black, 0 0 25px rgb(83, 83, 83), 0 0 5px rgb(53, 53, 53);
}

.contact-grid hr {
  border-top: 10px solid orange;
  width: 50%;
  margin: auto;
}

.contact-list {
  font-size: 66px;
  padding-right: 5rem;
}

.resume-right-col {
  background: black;
  color: white;
  padding: 2em;
  border-radius: 40px;
  opacity: .8;
}

.resume-right-col-white {
  background: white;
  color: black;
  padding: 2em;
  border-radius: 40px;
  opacity: .8;
}

.resume-body {
  margin: auto;
  width: 100%;
  height: auto;
  justify-content: center;
  padding-top: 2em;
  padding-bottom: 2em;
}

.resume-grid {
  color: white;
  text-align: left;
  justify-content: center;
  width: 90%;
  height: auto;
  margin-bottom: 20px;
}

.resume-grid a {
  font-size: 58px;
  color: white;
  padding: 6px;
}

.resume-grid a:hover {
  text-shadow: 1px 1px 2px rgb(173, 36, 1), 0 0 25px rgb(230, 150, 3), 0 0 5px rgb(226, 137, 2);
}

.profile-footer {
  opacity: .6;
}

.profile-footer p {
  text-align: center;
  font-size: 20px;
  color: white;
  }